{% extends "user_app/index.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Edit Profile - {{request.user.username}} | EduOnline</title>
{% endblock %}

{% block b1 %}

    <form action={% url 'user_app:edit_profile' %} method="POST">
        {% csrf_token %}

        <fieldset class="form-group">
            <legend class="mb-4">Edit Profile</legend>
            {{ profile_update_form|crispy }}
        </fieldset>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>

    </form>


{% endblock %}