{% extends "user_app/index.html" %}

{% block title %}
    <title>{{exam.exam_name}} | EduOnline</title>
{% endblock %}

{% block b1 %}
<div id="give-exam-div">
    <h2>{{exam.exam_name}}</h2>
    <h4>Duration: {{exam.duration}} mins</h4>

    <div class="questions-div">
        {% for question in questions %}
            <form class="question-form" method="POST" action="{% url 'user_app:submit_question' exam.exam_id question.id %}">
                {% csrf_token %}
                <h3>{{ forloop.counter }}. {{ question.statement }}</h3>
                Mark : {{ question.mark }}

                {% for choice in question.choices %}
                    <div class="choice-div">
                        {% if choice.choice_id == question.submitted_answer_id %}
                            <input type="radio" name="choice" value="{{ choice.choice_id }}" checked> {{ choice }}
                        {% else %}
                            <input type="radio" name="choice" value="{{ choice.choice_id }}"> {{ choice }}
                        {% endif %}
                    </div>
                {% endfor %}
                
                {% if question.is_submitted %}
                    <button class="submit-question-btn" type="submit" disabled >Submit</button>
                {% else %}
                    <button class="submit-question-btn" type="submit">Submit</button>
                {% endif %}
            </form>
        {% endfor %}
    </div>

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).on('submit', '.question-form', function(event){
        event.preventDefault();
        let questionForm = $(this);

        let posting = $.post(questionForm.attr('action'), questionForm.serialize());
        posting.done(function(){
            questionForm.find(".submit-question-btn").prop('disabled', true);
        })
    })

</script>
{% endblock %}