{% extends "user_app/index.html" %}

{% block title %}
    <title>{{exam.exam_name}} - {{request.user.username}} | EduOnline</title>
{% endblock %}

{% block b1 %}
<div id="give-exam-div">
    <h2>{{exam.exam_name}}</h2>
    <h5>Time Left</h2>
    <h5 id="countdown">{{ hours }}h : {{ mins }}m : {{ secs }}s</h5>

    {% for question in questions %}
        <form class="question-form" method="POST" action="{% url 'user_app:submit_question' exam.exam_id question.id %}">
            {% csrf_token %}
            <h3>{{ forloop.counter }}. {{ question.statement }}</h3>
            Mark : {{ question.mark }}

            {% for choice in question.choices %}
                {% if question.is_submitted %}
                    <div class="choice-div">
                        {% if choice.choice_id == question.submitted_answer_id %}
                            <input type="radio" name="choice" value="{{ choice.choice_id }}" checked disabled> {{ choice }}
                        {% else %}
                            <input type="radio" name="choice" value="{{ choice.choice_id }}" disabled> {{ choice }}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="choice-div">
                        {% if choice.choice_id == question.submitted_answer_id %}
                            <input type="radio" name="choice" value="{{ choice.choice_id }}" checked> {{ choice }}
                        {% else %}
                            <input type="radio" name="choice" value="{{ choice.choice_id }}"> {{ choice }}
                        {% endif %}
                    </div>
                {% endif %}
                
            {% endfor %}
            
            {% if question.is_submitted %}
                <button class="submit-question-btn" type="submit" disabled >Submit</button>
            {% else %}
                <button class="submit-question-btn" type="submit">Submit</button>
            {% endif %}
        </form>
    {% endfor %}
    <form method="POST" action="{% url 'user_app:end_exam' exam.exam_id %}">
        {% csrf_token %}
        <button type="submit">End Exam</button>
    </form>

</div>

<script>
    $(document).on('submit', '.question-form', function(event){
        event.preventDefault();
        let questionForm = $(this);

        let posting = $.post(questionForm.attr('action'), questionForm.serialize());
        posting.done(function(){
            questionForm.find(".submit-question-btn").prop('disabled', true);
        })
    })

    var run = setInterval(function(){
        // finds the duration of the exam and converts to seconds, reducing by 1
        var timeArray = $("#countdown").html().split(" : "); 
        var time = parseInt(timeArray[0]) * 3600 + parseInt(timeArray[1]) * 60 + parseInt(timeArray[2]) - 1;

        var secs = time % 60;
        var minutes = Math.floor(time / 60);
        var hours = Math.floor(minutes / 60);
        minutes = minutes % 60;

        $("#countdown").html(hours + "h : " + minutes + "m : " + secs + "s");

        if (time == 0){
            clearInterval(run);
            window.location.href = "{% url 'user_app:exams' %}"
        }

    }, 1000);

</script>
{% endblock %}