{% extends "user_app/index.html" %}

{% block title %}
    <title>{{exam.exam_name}} - {{request.user.username}} | EduOnline</title>
{% endblock %}

{% block b1 %}

    <h2>{{exam.exam_name}}</h2>
    <h5>Time Left</h2>
    <h4 id="countdown">{{ hours }}h : {{ mins }}m : {{ secs }}s</h4>

    {% for question in questions %}
        <form class="give-exam-form p-5" method="POST" action="{% url 'user_app:submit_question' exam.exam_id question.id %}">
            {% csrf_token %}
            <div class="row">
                <h4 class="col-10">{{ forloop.counter }}. {{ question.statement }}</h4>
                <div class="col-2 float-right">
                    Mark : {{ question.mark }}
                </div>
            </div>


            {% for choice in question.choices %}
            <div class="form-check">
                <input 
                    id="question-choice"
                    class="form-check-input"
                    type="radio" 
                    name="choice"
                    value="{{ choice.choice_id }}"
                    {% if choice.choice_id == question.submitted_answer_id %}
                        checked
                    {% endif %}>
                <label for="question-choice" class="form-check-label">
                    {{ choice }}
                </label>
            </div>
            {% endfor %}

            <button class="submit-question-btn btn btn-primary" type="submit"{% if question.is_submitted %}disabled{% endif %}>Submit</button>
            
        </form>
        <hr>
    {% endfor %}
    
    <form method="POST" action="{% url 'user_app:end_exam' exam.exam_id %}">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">End Exam</button>
    </form>


<script>
    $(document).on('submit', '.give-exam-form', function(event){
        event.preventDefault();
        let questionForm = $(this);

        let posting = $.post(questionForm.attr('action'), questionForm.serialize());
        posting.done(function(){
            questionForm.find(".submit-question-btn").prop('disabled', true);
        })
    })

    var run = setInterval(function(){
        // finds the duration of the exam and converts to seconds, reducing by 1
        var timeArray = $("#countdown").html().split(" : "); 
        var time = parseInt(timeArray[0]) * 3600 + parseInt(timeArray[1]) * 60 + parseInt(timeArray[2]) - 1;

        var secs = time % 60;
        var minutes = Math.floor(time / 60);
        var hours = Math.floor(minutes / 60);
        minutes = minutes % 60;

        $("#countdown").html(hours + "h : " + minutes + "m : " + secs + "s");

        if (time == 0){
            clearInterval(run);
            window.location.href = "{% url 'user_app:exams' %}"
        }

    }, 1000);

</script>
{% endblock %}