{% extends "user_auth/base_layout.html" %}

{% block title %}
    <title>Home - {{request.user.username}} | EduOnline</title>
{% endblock %}
    
{% block body %}

    <div class="top-div">
        <h1 id="heading-h1">EduOnline</h1>
        <div>
            <ul>
                <li><a href="{% url 'user_app:exams' %}">Exams</a></li>
                <li><a href="{% url 'user_app:report_card' %}">Report Card</a></li>
                <li><a href="{% url 'user_app:edit_profile' %}">My Profile</a></li>
            </ul>
        </div>
        <a href="{% url 'user_auth:logout' %}">Logout</a>
    </div>

    {% block b1 %}
    
    {% endblock %}

{% endblock %}
