body{
    background-color: #282726;
    color: #fff;
}

.navbar{
    background-color:maroon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
    border-radius: 0.5rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

a, a:visited{
    color: #fff;
}

a:focus,
a:hover{
    text-decoration: none;
}

#join-us-text{
    text-align: center;
    margin-bottom: 5%;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand{
    font-size: 50px;
}

.auth-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form{
    background:#282726;
}

.register-form{
    background: maroon;
}

.register-form, .login-form{
    margin-bottom:12%;
    border-radius: 1.0rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 9%;
}

.auth-btn{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.0rem;
    padding:2%;
}