{% extends "admin_app/index.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Add Subject - {{request.user.username}} | EduOnline</title>
{% endblock %}

{% block b1 %}

    <form action={% url 'admin_app:add_subject' %} method="POST">
        {% csrf_token %}

        <fieldset class="form-group">
            <legend class="mb-4">Add Subject</legend>
            {{ form|crispy }}
        </fieldset>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    
    </form>


{% endblock %}