{% extends "admin_app/index.html" %}

{% block title %}
    <title>Create Exam | EduOnline</title>
{% endblock %}

{% block b1 %}
<div id="create_exam_questions">
    <h2>Create Exam</h2>

    <button id="add_question_btn" type="button">Add Question</button>

    <div class="questions">
    </div>

    <template id="empty_question">
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" class="question_statement" placeholder="Enter question statement here">
            <input type="number" class="marks_allocated" placeholder="Marks allocated">
            <button class="add_option_btn" type="button">Add Option</button>
            <button class="remove_question_btn" type="button">Remove Question</button>
        </form>
    </template>

    <template id="empty_choice">
        <div class="option">
            <input type="checkbox" placeholder="Enter option here" name="">
            <button class="remove_option_btn" type="button">Remove Option</button>
        </div>
    </template>
    

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $("#add_question_btn").click(function() {
        $(".questions").append($("#empty_question").html())
    })

    $(document).on('click', '.add_option_btn', function(){ 
        //didn't use just .click as above because elements are dynamically generated and may not exist when script runs
        $(this).closest("form").append($('#empty_choice').html());
    })

    $(document).on('click', '.remove_option_btn', function(){
        $(this).closest(".option").remove();
    })

    $(document).on('click', '.remove_question_btn', function(){
        $(this).closest("form").remove();
    })

</script>
{% endblock %}