{% extends "admin_app/index.html" %}

{% block title %}
    <title>Create Exam - {{request.user.username}} | EduOnline</title>
{% endblock %}

{% block b1 %}
<div id="create-exam-questions-div">
    <h2>Create Exam</h2>

    <button id="create-question-btn" type="button">Create Question</button>

    <div class="questions-div">
    </div>

    <template id="empty-question">
        <form class="empty-question-form" method="POST" action="{% url 'admin_app:create_exam_questions' exam_id %}">
            {% csrf_token %}
            <input type="text" class="question-statement" name="statement" placeholder="Enter question statement here">
            <input type="number" class="marks-allocated" name="mark" placeholder="Marks allocated">
            <button class="add-choice-btn" type="button">Add Choice</button>

            <button class="remove-question-btn" type="button">Remove Question</button>
            <button class="submit-question-btn" type="submit">Add To Paper</button>
        </form>
    </template>

    <template id="empty-choice">
        <div class="choice-div">
            <input type="radio" name="solution">
            <input type="text" placeholder="Enter choice here" name="choice">
            <button class="remove-choice-btn" type="button">Remove</button>
        </div>
    </template>
    

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    
    /**
     * Sets the value of every radio option in the question form 
     * to the value of the text field beside it.
     * 
     * @param {Form} questionForm The question form it will act on
     */
    function setRadioValues(questionForm){

        questionForm.find('input[type=radio]').each(function(){
            let radio = $(this);
            radio.val(radio.closest("div").find("input[type=text]").val());
        })
    }

    $(document).on('submit', '.empty-question-form', function(event){
        event.preventDefault();
        var questionForm = $(this);
        setRadioValues(questionForm);
        
        let dataArray = questionForm.serializeArray()
        var posting = $.post(questionForm.attr('action'), jQuery.param(dataArray));

        posting.done(function(){
            questionForm.find(".submit-question-btn").prop('disabled', true);
            questionForm.find(".remove-question-btn").prop('disabled', true);
            questionForm.find(".add-choice-btn").prop('disabled', true);
        })
    })

    $("#create-question-btn").click(function() {
        $(".questions-div").append($("#empty-question").html())
    })

    $(document).on('click', '.add-choice-btn', function(){ 
        //didn't use just .click as above because elements are dynamically generated and may not exist when script runs
        $(this).closest("form").append($('#empty-choice').html());
    })

    $(document).on('click', '.remove-choice-btn', function(){
        $(this).closest(".choice-div").remove();
    })

    // only works on .empty-question-form, meaning the newly created questions
    $(document).on('click', '.empty-question-form .remove-question-btn', function(){
        $(this).closest("form").remove();
    })

</script>
{% endblock %}