{% extends "admin_app/index.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Create Exam - {{request.user.username}} | EduOnline</title>
{% endblock %}

{% block b1 %}
    
    <form method="POST" action="{% url 'admin_app:create_exam_details' %}">
        {% csrf_token %}
        
        <fieldset class="form-group">
            <legend class="mb-4">Create Exam</legend>
            {{ form|crispy }}
        </fieldset>
        
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create Paper</button>
        </div>

    </form>

{% endblock %}