{% extends "admin_app/index.html" %}

{% block title %}
    <title>Edit Exam | EduOnline</title>
{% endblock %}

{% block b1 %}
<div id="edit-exam-questions-div">
    <h2>Edit Exam</h2>

    <button id="create-question-btn" type="button">Create Question</button>

    <div class="questions-div">
        {% for question in questions %}
            <form class="filled-question-form" method="POST" action="{% url 'admin_app:confirm_edit_exam_questions' exam_id question.id %}">
                {% csrf_token %}
                <input type="text" class="question-statement" name="statement" placeholder="Enter question statement here" value="{{ question.statement }}">
                <input type="number" class="marks-allocated" name="mark" placeholder="Marks allocated" value={{ question.mark }}>
                <button class="add-choice-btn" type="button">Add Choice</button>
                <button class="remove-question-btn" type="submit">Remove Question</button>

                <input type="text" name="solution" placeholder="Enter correct choice here" value="{{ question.solution }}">

                <button class="submit-question-btn" type="submit">Confirm Edit</button>

                {% for choice in question.choices %}
                    <div class="choice-div">
                        <input type="text" placeholder="Enter choice here" name="choice" value="{{ choice }}">
                        <button class="remove-choice-btn" type="button">Remove</button>
                    </div>
                {% endfor %}
            </form>
        {% endfor %}
    </div>

    <template id="empty-question">
        <form class="empty-question-form" method="POST" action="{% url 'admin_app:create_exam_questions' exam_id %}">
            {% csrf_token %}
            <input type="text" class="question-statement" name="statement" placeholder="Enter question statement here">
            <input type="number" class="marks-allocated" name="mark" placeholder="Marks allocated">
            <button class="add-choice-btn" type="button">Add Choice</button>
            <button class="remove-question-btn" type="button">Remove Question</button>

            <input type="text" name="solution" placeholder="Enter correct choice here">

            <button class="submit-question-btn" type="submit">Add To Paper</button>
        </form>
    </template>

    <template id="empty-choice">
        <div class="choice-div">
            <input type="text" placeholder="Enter choice here" name="choice">
            <button class="remove-choice-btn" type="button">Remove</button>
        </div>
    </template>
    

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

    // .empty-question-form affects the newly added questions in the page
    // I didn't find a way to input the question.id of the newly created question into the django templated action={ url } of empty form
    // so you can't edit the question you just added in the same page, you have to refresh.
    $(document).on('submit', '.empty-question-form', function(event){
        event.preventDefault();
        let questionForm = $(this);
        let posting = $.post(questionForm.attr('action'), questionForm.serialize());
        
        posting.done(function(){
            questionForm.find(".submit-question-btn").html("Refresh to edit");
            questionForm.find(".submit-question-btn").prop('disabled', true);
            questionForm.find(".remove-question-btn").prop('disabled', true);
        })
    })

    // .filled-question-form has two submit buttons. both handled differently
    // both functions below deal with the submit buttons of already existing questions
    $(document).on('click', '.filled-question-form .submit-question-btn', function(event){
        event.preventDefault();
        let questionForm = $(this).closest(".filled-question-form");

        // to pass name of the button that was clicked to the action url
        let dataArray = questionForm.serializeArray()
        dataArray.push({
            name: "submit_question",
            value: ""
        })

        let posting = $.post(questionForm.attr('action'), jQuery.param(dataArray) );
    })

    $(document).on('click', '.filled-question-form .remove-question-btn', function(event){
        event.preventDefault();
        let questionForm = $(this).closest(".filled-question-form");

        let dataArray = questionForm.serializeArray()
        dataArray.push({
            name: "remove_question",
            value: ""
        })

        let posting = $.post(questionForm.attr('action'), jQuery.param(dataArray) );

        posting.done(function(){
            questionForm.remove();
        })
        
    })

    $("#create-question-btn").click(function() {
        $(".questions-div").append($("#empty-question").html())
    })

    $(document).on('click', '.add-choice-btn', function(){ 
        //didn't use just .click as above because elements are dynamically generated and may not exist when script runs
        $(this).closest("form").append($('#empty-choice').html());
    })

    $(document).on('click', '.remove-choice-btn', function(){
        $(this).closest(".choice-div").remove();
    })

    $(document).on('click', '.empty-question-form .remove-question-btn', function(){
        $(this).closest("form").remove();
    })

</script>
{% endblock %}