{% extends "admin_app/index.html" %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Exams - {{request.user.username}} | EduOnline</title>
{% endblock %}

{% block b1 %}

<form method="GET">
    <h2>Exams</h2>
    <fieldset class="form-group row">
        <div class="col-lg-4 col-sm-6">
            {{ exams.form.exam_name|as_crispy_field }}
        </div>
        <div class="col-lg-2 col-sm-6">
            {{ exams.form.duration|as_crispy_field }}
        </div>
        <div class="col-lg-1 col-sm-3">
            {{ exams.form.standard|as_crispy_field }}
        </div>
        <div class="col-lg-3 col-sm-6">
            {{ exams.form.subject|as_crispy_field }}
        </div>
        <div class="col-lg-2 col-sm-3 search-btn-div">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>

    </fieldset>
</form>
<hr>

<a class="link-button" href="{% url 'admin_app:create_exam_details'%}">Add Exam +</a>
<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th>Exam Name</th>
            <th>Class</th>
            <th>Duration (mins)</th>
            <th>Subject</th>
            <th>Total Marks</th>
            <th>Availability</th>
            <th colspan="2">Admin Options</th>
        </tr>
    </thead>
    {% for exam in exams.qs %}
        <tr>
            <td>{{ exam.exam_name }}</td>
            <td>{{ exam.standard }}</td>
            <td>{{ exam.duration }}</td>
            <td>{{ exam.subject }}</td>
            <td>{{ exam.total_marks }}</td>
            <td>
                <form method="post" action="{% url 'admin_app:toggle_exam' exam.exam_id %}">
                    {% csrf_token %}
                    <input type="checkbox" class="exam-toggle" name="exam-toggle" {% if exam.available == True %}checked{% endif %}>
                </form>
            </td>

            <td><a href="{% url 'admin_app:edit_exam_details' exam.exam_id %}">Edit</a></td>
            <td><a href="{% url 'admin_app:delete_exam' exam.exam_id %}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}