{% extends "admin_app/index.html" %}

{% block title %}
    <title>Exams | EduOnline</title>
{% endblock %}

{% block b1 %}
<div id="exams">
    <h2>Exams</h2>
    <a href="{% url 'admin_app:create_exam_details'%}">Add Exam</a>
    <ul>
        {% for exam in exams %}
            <li>
                <div class="exam_details">
                    {{ exam.exam_name }}
                    {{ exam.standard }}
                    {{ exam.duration }}
                    {{ exam.subject_name }}
                    {{ exam.total_marks }}

                    <a href="{% url 'admin_app:delete_exam' exam.exam_id %}">Delete</a>
                </div>
            </li>

        {% endfor %}
    </ul>
</div>
{% endblock %}