{% extends "admin_app/index.html" %}

{% block title %}
    <title>Exams | EduOnline</title>
{% endblock %}

{% block b1 %}
<div id="subjects">
    <h2>Exams</h2>
    <a href="{% url 'admin_app:add_subject'%}">Add Exam</a>
    <ul>
        {% for subject in subjects %}
            <li>
                <div class="subject_details">
                    {{ subject.subject_name }}
                    {{ subject.avg_score }}

                    <a href="{% url 'admin_app:delete_subject' subject.subject_name %}">Delete</a>
                </div>
            </li>

        {% endfor %}
    </ul>
</div>
{% endblock %}