{% extends "admin_app/base_layout.html" %}

{% block title %}
    <title>Admin|EduOnline</title>
{% endblock %}
        

    
{% block body %}

    <div id="top">
        <h1 id="heading">EduOnline</h1>
        <div>
            <ul>
                <li><a href="{% url 'admin_app:subjects' %}">Subjects</a></li>
                <li><a href="news.asp">Exams</a></li>
                <li><a href="contact.asp">Users</a></li>
            </ul>
        <div>
        <a href="{% url 'user_auth:logout' %}">Logout</a>
    </div>

    {% block b1 %}
    
    {% endblock %}

{% endblock %}
