{% extends "user_auth/base_layout.html" %}

{% block title %}
    <title>Admin - {{request.user.username}} | EduOnline</title>
{% endblock %}
        
{% block body %}

    <nav class="navbar navbar-dark navbar-expand-sm">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand">EduOnline</h1>
            </div>
            <!-- django templating language to get name of the current url from urls.py -->
            {% with url_name=request.resolver_match.url_name %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if url_name == 'subjects' %}active{% endif %}"><a class="nav-link" href="{% url 'admin_app:subjects' %}">Subjects</a></li>
                    <li class="nav-item {% if url_name == 'exams' %}active{% endif %}"><a class="nav-link" href="{% url 'admin_app:exams' %}">Exams</a></li>
                    <li class="nav-item {% if url_name == 'users' %}active{% endif %}"><a class="nav-link" href="{% url 'admin_app:users' %}">Users</a></li>
                    <li class="nav-item {% if url_name == 'edit_profile' %}active{% endif %}"><a class="nav-link" href="{% url 'admin_app:edit_profile' %}">My Profile</a></li>
                </ul>
            </div>
            {% endwith %}
            {{request.user.username}} | <a href="{% url 'user_auth:logout' %}"> Logout</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        
    </nav>

    
    <div class="container mid">
        {% block b1 %}

        {% endblock %}
    </div>
{% endblock %}
