{% extends "admin_app/index.html" %}

{% block title %}
    <title>Subjects - {{request.user.username}} | EduOnline</title>
{% endblock %}

{% block b1 %}
<div id="subjects-div">
    <h2>Subjects</h2>
    <a href="{% url 'admin_app:add_subject' %}">Add Subject</a>
    <ul>
        {% for subject in subjects %}
            <li>
                <div class="subject-details-div">
                    {{ subject.subject_name }}
                    {{ subject.avg_score }}

                    <a href="{% url 'admin_app:delete_subject' subject.subject_name %}">Delete</a>
                </div>
            </li>

        {% endfor %}
    </ul>
</div>
{% endblock %}