{% extends "admin_app/index.html" %}

{% block title %}
    <title>Users - {{request.user.username}} | EduOnline</title>
{% endblock %}

{% block b1 %}

<h2>Users</h2>
<table class="table table-striped table-dark">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Admin Options</th>
    </tr>
    {% for user in users %}
        <tr>
            <td><a href="{% url 'admin_app:report_card' user.username %}">{{ user.username }}</a></td>
            <td>{{ user.email }}</td>
            <td><a href="{% url 'admin_app:remove_user' user.username %}">Remove</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}