{% extends "admin_app/index.html" %}

{% block title %}
    <title>Users - {{request.user.username}} | EduOnline</title>
{% endblock %}

{% block b1 %}
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
    }
</style>
<div id="users-div">
    <h2>Users</h2>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        {% for profile in profiles %}
            <tr>
                <td><a href="{% url 'admin_app:report_card' profile.user.username %}">{{ profile.user.username }}</a></td>
                <td>{{ profile.user.email }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}