{% extends "user_auth/base_layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>EduOnline</title>
{% endblock %}
        

{% block body %}
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand">EduOnline</h1>
            </div>
            <h5>your exams, made easier</h5>
        </div>
        
    </nav>

    <div class="container auth-container">
        <div class="row">
            <div class="col-md-12" id="join-us-text">
                <h2>JOIN US TODAY!</h2>
            </div>

            <div class="col-md-6">
                <form action="{% url 'user_auth:index' %}" method="POST" class="login-form">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="mb-4">Login</legend>
                        {{ login_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info auth-btn" type="submit">Log In</button>
                    </div>
                </form>
            </div>
    
            <div class="col-md-6">
                <form action="{% url 'user_auth:register' %}" method="POST" class="register-form">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="mb-4">Register</legend>
                        {{ register_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info auth-btn" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}