{% extends "user_auth/base_layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>EduOnline</title>
{% endblock %}
        

{% block body %}
    <div class="top">
        <h1 id="heading">EduOnline</h1>
    </div>

    <div class="mid">
        <div id="login-box">
            <form action="{% url 'user_auth:index' %}" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Login</legend>
                    {{ login_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Log In</button>
                </div>
            </form>
        </div>

        <div id="register-box">
            <form action="{% url 'user_auth:register' %}" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Register</legend>
                    {{ register_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}